<div class="contents row">
  <div class="container">
    <h2>新規登録画面</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :"ニックネーム" %><br />
        <%= f.text_field :nickname, class:"input-default", id:"password", placeholder:"trip花子" %>
      </div>

      <div class="field">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, class:"input-default", id:"password", placeholder:"aaa@aa.com" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード" %><br />
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード再入力" %><br />
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
      </div>

      <div class="field">
        性別<br />
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>

      <div class="field">
        お住まいの都道府県<br />
        <%= f.collection_select(:residence_id, Residence.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>

      <div class="field">
        年齢<br />
        <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </div>
</div>

